@use 'variables';

@mixin button {
    border-radius: 24px;
    padding: 16px;
    width: fit-content;
    box-shadow: 8px 8px 8px gray;
    background-color: variables.$primary-color;
    color: variables.$font-color-inversed;
}
