@use 'reset';
@use 'variables';
@use 'mixins';

* {
    @include mixins.font-text;
}

.header {
    &_logo {
        width: 170px;
        margin: 1rem auto;
        display: block;
    }
}

span {
    font-weight: bold;
    font-size: 20px;
}

.map {
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.icone_map {
    width: 10px;
}

.explorer {
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &_button {
        @include mixins.button;
        margin: 0 auto;
    }
}

.explorer_title {
    text-align: center;
    margin: 2rem;
}
.explorer_content {
    text-align: center;
    margin: 2rem;
}

.fonctionnement_title {
    margin: 1rem;
}

.fonctionnements {
    width: 100%;
    height: 100%;
}
.fonctionnement {
    border-radius: 20px;
    height: 80px;
    width: 100%;
    display: flex;
    position: relative;
    margin: 1rem;
    background-color: #f6f6f6;
    box-shadow: 3px 3px 3px gainsboro;
}


.fonctionnement_rond {
    border-radius: 50px 50px 50px 50px;
    padding: 15px;
    width: 2px;
    height: 2px;
    margin-right: 4rem;
    margin-top: 1rem;
    background-color: variables.$primary-color;
}
.fonctionnement_icone {
    width: 15px;
    margin-top: 2rem;
    
}

.fonctionnement_texte
{
    margin: 2rem;
    font-size: 18px;
}

.filtre_icone img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 14px;
}

.restaurants {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
}

.restaurants_articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.restaurant_article {
    display: block;
    margin: 0 auto 2rem;
    width: 100%;
}

.restaurants {
    background-color: #f6f6f6;
}

.restaurants_title {
    margin: 1rem;
}
.restaurant_article_conteneur {
    background-color: white;
    border-radius: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    box-shadow: 4px 4px 4px gainsboro;
}

.restaurant_article_image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.restaurant_article_coeur {
    width: 25px;
    margin-left: 21rem;
    margin-bottom: 1rem;
}

.restaurant_article_contenu {
    padding: 5px;
}

.footer {
    background-color: #353535;
    &_logo {
        width: 100px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    &_texte {
        color: white;
        margin-left: 1rem;
    }
}
