@use 'reset';
@use 'variables';
@use 'mixins';

body {
    @include mixins.font-text;
}

.header {
    &_logo {
        width: 170px;
        margin: 1rem auto;
        display: block;
    }
}

.map {
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.icone_map {
    width: 10px;
}

.explorer {
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &_button {
        @include mixins.button;
        margin: 0 auto;
    }
}

.explorer_title {
    text-align: center;
    margin: 2rem;
}
.explorer_content {
    text-align: center;
    margin: 2rem;
}

.fonctionnement_title {
    margin: 1rem;
}

.fonctionnements {
    width: 100%;
    height: 100%;
    counter-reset: counter_fonctionnement;
    padding: 1rem;
}
.fonctionnement {
    border-radius: 20px;
    height: 80px;
    width: 100%;
    display: flex;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    background-color: #f6f6f6;
    box-shadow: 3px 3px 3px gainsboro;
    align-items: center;
    &_icone {
        width: 15px;
        margin-right: 1.5rem;
    }

    &_texte {
        font-size: 18px;
    }
    &::before {
        counter-increment: counter_fonctionnement;
        content: counter(counter_fonctionnement);
        border-radius: 50px 50px 50px 50px;
        width: 30px;
        height: 30px;
        background-color: variables.$primary-color;
        position: absolute;
        text-align: center;
        line-height: 30px;
        left: -15px;
        top: 25px;
        color: variables.$font-color-inversed;
    }
}

.coeur_article_checkbox {
    color: red;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 0;
    transition: width 1s;
    box-sizing: border-box;
}

.filtre_icone img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 14px;
}

.restaurants {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
}

.restaurants_articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.restaurant_article {
    display: block;
    margin: 0 auto 2rem;
    width: 100%;
}

.restaurants {
    background-color: #f6f6f6;
}

.restaurants_title {
    margin: 1rem;
}
.restaurant_article_conteneur {
    background-color: white;
    border-radius: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    box-shadow: 4px 4px 4px gainsboro;
}

.restaurant_article_image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.restaurant_article_coeur, .restaurant_article_coeur-plein {
    width: 25px;
    position: absolute;
    right: 1rem;
    top: 1rem;

}

.restaurant_article_contenu {
    padding: 1rem;
    position: relative;
    span {
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

.footer {
    background-color: #353535;
    &_logo {
        width: 100px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    &_texte {
        color: white;
        margin: 1rem;
    }
}

.header_image {
    width: 100%;
    height: 100%;
}

.carte_restaurant {
    background-color: #f2f2f2;
    border-radius: 50px 50px 0 0;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    box-shadow: 4px 4px 4px gainsboro;
}

.carte_restaurant_container {
    padding-top: 40vw;
    background-image: var(--restaurant_background_image);
    background-position: top;
    background-size: contain;
}

.carte_restaurant_container1 {
    padding-top: 40vw;
    background-image: url(images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-position: top;
    background-size: contain;
}
.carte_restaurant_container2 {
    padding-top: 40vw;
    background-image: url(images/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-position: top;
    background-size: contain;
}
.carte_restaurant_container3 {
    padding-top: 40vw;
    background-image: url(images/toa-heftiba-DQKerTsQwi0-unsplash.jpg.jpg);
    background-position: top;
    background-size: contain;
}

.carte_restaurant_container4 {
    padding-top: 40vw;
    background-image: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-position: top;
    background-size: contain;
}
.carte_article_coeur {
    width: 20px;
    
}

.coeur_button_carte {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    font-family: "Shrikhand", cursive;
}

.coeur_button
{
    .restaurant_article_coeur-plein{
        opacity: 0;
       transition: opacity .5s;
    }
   
    &:hover{
        .restaurant_article_coeur-plein{
            opacity: 1;
        }
    }
}

.carte_entree {
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cartes_articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.carte_article {
    display: flex;
    margin: 0 auto 2rem;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    height: 80px;
    box-shadow: 4px 4px 4px gainsboro;
    &:hover {
        .carte_article_checkbox {
            width: 100px;
        }
        .image_article_checkbox {
            transform: rotateZ(360deg);
            transition: 1s;
        }
    }
    overflow: hidden;
    animation: fadeInAnimation ease 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
    @for $i from 0 to 5 { 
        &:nth-child(#{$i}){
            animation-delay: $i*250ms;
        }
        
    }
}

.carte_article_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 0;
}

.carte_article_title {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.8rem;
}

.carte_article_price {
    align-self: end;
    padding: 0.8rem;
}
.carte_article_description {
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.carte_article_checkbox {
    background: #99e2d0;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 0;
    transition: width 1s;
    box-sizing: border-box;
}

.image_article_checkbox {
    width: 20px;
    margin-left: 40px;
}
.prix {
    padding-left: 17rem;
}

.commander {
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
    &_button {
        @include mixins.button;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .body-home {
        grid-gap: 1rem;
        padding: 1rem;
        display: grid;
        grid-template-areas:
            "header header"
            "explorer fonctionnement"
            "restaurants restaurants"
            "footer footer";
        grid-template-columns: repeat(2, 1fr);
    }

    .header {
        grid-area: header;
        position: relative;
        height: 100%;
    }

    .explorer {
        grid-area: explorer;
    }

    .fonctionnement_section {
        grid-area: fonctionnement;
    }

    .fonctionnement {
        align-items: center;
    }

    .restaurants {
        grid-area: restaurants;
    }

    .footer {
        grid-area: footer;
    }
    .restaurants_articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .carte_restaurant_container {
        padding-top: 30vw;
        background-image: var(--restaurant_background_image);
        background-position: top;
        background-size: contain;
    }
    
    .carte_restaurant_container1 {
        padding-top: 30vw;
        background-image: url(images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        background-position: top;
        background-size: contain;
    }
    .carte_restaurant_container2 {
        padding-top: 30vw;
        background-image: url(images/stil-u2Lp8tXIcjw-unsplash.jpg);
        background-position: top;
        background-size: contain;
    }
    .carte_restaurant_container3 {
        padding-top: 30vw;
        background-image: url(images/toa-heftiba-DQKerTsQwi0-unsplash.jpg.jpg);
        background-position: top;
        background-size: contain;
    }
    
    .carte_restaurant_container4 {
        padding-top: 30vw;
        background-image: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        background-position: top;
        background-size: contain;
    
    }
}

@media (min-width: 1280px) {
    .body-home {
        grid-gap: 1rem;
        padding: 1rem;
        display: grid;
        grid-template-areas:
            "header header"
            "explorer fonctionnement"
            "restaurants restaurants"
            "footer footer";
        grid-template-columns: repeat(2, 1fr);
    }

    .header {
        grid-area: header;
        position: relative;
        height: 100%;
    }

    .explorer {
        grid-area: explorer;
    }

    .fonctionnement_section {
        grid-area: fonctionnement;
    }

    .fonctionnement {
        align-items: center;
    }

    .restaurants {
        grid-area: restaurants;
    }

    .footer {
        grid-area: footer;
    }
    .restaurants_articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .carte_restaurant_container {
        padding-top: 40vw;
        background-image: var(--restaurant_background_image);
        background-position: top;
        background-size: contain;
    }
    
    .carte_restaurant_container1 {
        padding-top: 20vw;
        background-image: url(images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        background-position: top;
        background-size: contain;
    }
    .carte_restaurant_container2 {
        padding-top: 20vw;
        background-image: url(images/stil-u2Lp8tXIcjw-unsplash.jpg);
        background-position: top;
        background-size: contain;
    }
    .carte_restaurant_container3 {
        padding-top: 20vw;
        background-image: url(images/toa-heftiba-DQKerTsQwi0-unsplash.jpg.jpg);
        background-position: top;
        background-size: contain;
    }
    
    .carte_restaurant_container4 {
        padding-top: 20vw;
        background-image: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        background-position: top;
        background-size: contain;
    }

    .carte_restaurant {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }
}
